body {
  color: #444444;
}
strong {
  color: orange;
}
a {
  color: darkred;
}
a:hover {
  color: indianred;
}
.panel {
  padding: 10px;
  border: solid thin saddlebrown;
}
.intro {
  text-align: center;
  margin-bottom: 20px;
}
.intro h1{
  font-size: 48pt;
}
.intro p {
  font-size: 18pt;
}
.intro img {
  height: 235px;
  float: left;
}
.projects .panel{
  background-color: papayawhip;
}
.projects h2{
  text-align: center;
  margin-top: 5px;
}
.projects p{
  padding: 0px 15px 0px 15px;
}
.gradient {
  background: linear-gradient(to top, white, beige);
}
.aboutme .panel img {
  width: 100%;
  height: auto;
}
.aboutme img {
  height:250px;
  margin: 5px 0px 5px 0px;
}
.aboutme p {
  font-size: 14pt;
}
.aboutme h3 {
  text-align: center;
  margin-top: 5px;
  font-weight: bolder;
}
.hobbies strong {
  font-size: 16pt;
  color:brown;
}
.contributors {
  text-align: right;
  color: maroon;
}
.univ {
  font-weight: bold;
  font-size: 18pt;
  color: darkred;
}
.degree {
  font-weight: bold;
  font-size: 16pt;
  color: chocolate;
}
.status {
  font-style: italic;
}
