.intro {
  text-align: center;
  margin-bottom: 20px;
}
.intro h1{
  font-size: 48pt;
}
.intro p {
  font-size: 18pt;
}
.intro img {
  height: 235px;
  float: left;
}
.projects .panel{
  padding: 10px;
}
.projects h2{
  text-align: center;
  margin-top: 5px;
}
.project1 {
}
.project2 {
}
.project3 {
}
.project4 {
}
.project5 {
}
.project6 {
}
.aboutme {
  border: solid thin red;
  height: 300px;
}
.aboutme img {
  height:280px;
}
.contributors {
  text-align: right;
  color: darkblue;
}
strong {
  color: orange;
}
